<h3>Step 5: Code used to pull the top 100 variables with high correlation value to GDP

In [72]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
import math
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [73]:
for file in os.listdir():
    if ".csv" in file:
        if "final" in file:
            print(file)

final Agriculture.csv

In [348]:
raw_data=pd.read_csv("./"+"final Urban Development.csv")
gdp_raw_data=pd.read_csv("./GDP.csv",skiprows=3)
raw_data=raw_data.drop(['Unnamed: 0'], axis=1)
raw_data
raw_data.columns  = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2003', '2004','2005', '2006', '2007', '2008', '2009','2010', '2011', '2012', '2013', '2014','2015', '2016','2017',2018]
raw_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,115.487839,85.198797,86.645467,85.145852,86.293527,87.313797,89.273418,93.680767,99.003067,102.049813,107.516322,111.435238,110.904640,110.692401,109.312114,NaN
1,Afghanistan,AFG,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,14.592375,16.156486,13.404295,13.872365,16.363172,19.905253,20.464817,19.864814,23.072304,18.197618,11.906112,13.346974,9.435157,7.572505,7.494669,NaN
2,Angola,AGO,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,19.773627,21.762417,18.846728,17.173053,19.847804,25.377397,28.151636,23.402577,21.828619,17.902261,17.831771,18.281924,15.949573,13.179315,12.100730,NaN
3,Albania,ALB,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,27.598163,30.002777,32.905125,36.187934,37.734108,39.650916,40.570124,38.489157,39.241524,34.940202,33.362579,34.468834,34.375507,37.199162,40.308852,NaN
4,Andorra,AND,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,23.178332,25.285093,27.656368,22.701432,19.299275,31.160497,29.521151,30.619598,25.399255,38.024141,44.632971,67.624591,40.829206,42.935288,54.858942,NaN

In [349]:
def dataProcessing(df, year):
    dfAggeregateAll = pd.DataFrame(columns = ['Country Name','Year'])
    k = 1  
    df = df[['Country Name','Indicator Name', year]] 
    listIndicatorCode = list(set(list(np.unique(df["Indicator Name"])))) 
    for j in listIndicatorCode:
        df_sub = df.loc[df['Indicator Name'] == j]
        df_sub['Year'] = year
        df_sub[j] = df_sub[year]
        del df_sub[year]
        del df_sub['Indicator Name']
        dfAggeregateAll = dfAggeregateAll.drop_duplicates() 
        dfAggeregateAll = pd.merge(dfAggeregateAll,df_sub, how = "outer", on = ['Country Name', 'Year'])
    dfAggeregateAll = dfAggeregateAll.drop_duplicates()       
    return dfAggeregateAll

In [350]:
dfAllYear=pd.DataFrame()
for year in range(2003,2017):
    dfAggeregateAll = dataProcessing(raw_data,str(year))
    dfAllYear = dfAllYear.append(dfAggeregateAll)
    print(year)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [351]:
gdp_raw_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24984.279447,24709.602265,25018.308952,25528.403780,25796.380251,25251.639678,25655.102022,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,550.514974,599.297630,648.511070,647.966460,625.339539,590.076474,549.582760,550.068459,NaN,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3585.905553,4615.867475,5102.489969,5258.407376,5412.692348,4170.730358,3509.604211,4100.289786,NaN,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.360204,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4131.872341,4537.579056,NaN,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836,NaN,NaN

In [352]:
dfAllYeargdp=pd.DataFrame()
for year in range(2003,2017):
    dfAggeregateAll = dataProcessing(gdp_raw_data,str(year))
    dfAllYeargdp = dfAllYeargdp.append(dfAggeregateAll)
    print(year)

2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [353]:
dfAllYeargdp.head()

  Country Name  Year  GDP per capita (current US$)
0        Aruba  2003                  20833.761612
1  Afghanistan  2003                    195.776630
2       Angola  2003                    978.538934
3      Albania  2003                   1846.120121
4      Andorra  2003                  32776.442270

In [354]:
dfAll =  pd.merge(dfAllYear,dfAllYeargdp, how = 'inner', on = ['Country Name', 'Year'])

In [355]:
dfAll

,Country Name,Year,Urban poverty gap at national poverty lines (%),"PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)",Pump price for diesel fuel (US$ per liter),Trade in services (% of GDP),Pump price for gasoline (US$ per liter),"Mortality caused by road traffic injury (per 100,000 people)","PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Urban poverty headcount ratio at national poverty lines (% of urban population),"Access to electricity, urban (% of urban population)",Population in the largest city (% of urban population),Population living in slums (% of urban population),Population in largest city,Population in urban agglomerations of more than 1 million (% of total population),Urban population growth (annual %),GDP per capita (current US$)
0,Aruba,2003,6.0,NaN,NaN,115.487839,NaN,NaN,NaN,39.4,99.919922,28.839057,NaN,3415007.0,18.760302,1.310360,20833.761612
1,Afghanistan,2003,6.0,NaN,NaN,14.592375,NaN,NaN,NaN,24.7,74.828354,53.109538,NaN,2738161.0,11.871575,5.230459,195.776630
2,Angola,2003,6.2,NaN,NaN,19.773627,NaN,NaN,NaN,17.0,46.496712,34.971204,NaN,3415007.0,18.760302,5.758127,978.538934
3,Albania,2003,16.3,NaN,NaN,27.598163,NaN,NaN,NaN,28.5,100.000000,26.423259,NaN,357995.0,11.871575,2.060274,1846.120121
4,Andorra,2003,9.6,NaN,NaN,23.178332,NaN,NaN,NaN,28.5,100.000000,64.001580,NaN,357995.0,42.879466,3.899960,32776.442270
5,Arab World,2003,6.2,NaN,NaN,17.868750,NaN,NaN,NaN,28.5,94.125554,30.464825,NaN,3415007.0,22.516841,2.710381,2722.378726
6,United Arab Emirates,2003,16.3,NaN,NaN,10.692036,NaN,NaN,NaN,24.7,100.000000,36.369585,NaN,1108773.0,60.861314,6.975833,33230.523181
7,Argentina,2003,9.6,NaN,NaN,7.818917,NaN,NaN,NaN,47.8,96.134209,37.777733,NaN,12979730.0,42.879466,1.298849,3330.437006
8,Armenia,2003,16.3,NaN,NaN,21.733430,NaN,NaN,NaN,28.5,99.321266,56.619996,NaN,1095897.0,36.314362,-0.686032,930.166157
9,American Samoa,2003,6.2,NaN,NaN,35.999431,NaN,NaN,NaN,46.9,97.073478,15.498020,NaN,357995.0,11.871575,0.545557,8914.525433
10,Antigua and Barbuda,2003,13.7,NaN,NaN,70.167060,NaN,NaN,NaN,28.5,99.985214,34.830909,NaN,357995.0,42.879466,-0.876082,9801.966935
11,Australia,2003,16.3,NaN,NaN,9.832321,NaN,NaN,NaN,24.7,100.000000,22.749346,NaN,3817426.0,58.295435,1.377561,23437.312145
12,Austria,2003,9.6,NaN,NaN,29.067573,NaN,NaN,NaN,33.9,100.000000,33.104470,NaN,1596329.0,19.655780,0.016675,32222.897241
13,Azerbaijan,2003,6.0,NaN,NaN,34.008075,NaN,NaN,NaN,28.5,99.596619,43.042027,NaN,1842519.0,22.376690,1.145024,883.643997
14,Burundi,2003,6.2,NaN,NaN,6.700973,NaN,NaN,NaN,47.8,51.810917,58.991448,NaN,365383.0,42.879466,5.659416,112.849370
15,Belgium,2003,13.7,NaN,NaN,28.416157,NaN,NaN,NaN,22.2,100.000000,18.073793,NaN,1824651.0,26.828829,0.475187,30743.902538
16,Benin,2003,6.0,NaN,NaN,10.920257,NaN,NaN,NaN,47.8,50.285152,22.425519,NaN,666784.0,18.760302,4.312423,519.292285
17,Burkina Faso,2003,6.2,NaN,NaN,4.383717,NaN,NaN,NaN,22.2,52.400000,45.319904,NaN,1146783.0,9.062168,6.659009,332.344305
18,Bangladesh,2003,6.0,NaN,NaN,4.705730,NaN,NaN,NaN,22.2,79.593681,32.486339,NaN,11484292.0,10.830070,4.437117,432.738897
19,Bulgaria,2003,16.3,NaN,NaN,25.658853,NaN,NaN,NaN,17.0,100.000000,21.091391,NaN,1145963.0,14.738454,-0.282797,2698.624248
20,Bahrain,2003,9.6,NaN,NaN,20.370185,NaN,NaN,NaN,33.9,100.000000,24.695604,NaN,169967.0,22.516841,5.768162,14221.992593
21,"Bahamas, The",2003,16.3,NaN,NaN,35.479685,NaN,NaN,NaN,33.9,96.502190,26.370063,NaN,357995.0,18.760302,2.160169,28092.485732
22,Bosnia and Herzegovina,2003,6.0,NaN,NaN,13.197361,NaN,NaN,NaN,46.9,99.243698,20.857953,NaN,341559.0,18.760302,0.823018,2214.732246
23,Belarus,2003,6.2,NaN,NaN,14.449911,NaN,NaN,NaN,28.5,100.000000,24.934609,NaN,1744512.0,17.807050,-0.031054,1819.766059
24,Belize,2003,6.2,NaN,NaN,35.999431,NaN,NaN,NaN,22.2,97.436981,37.777733,NaN,2738161.0,22.516841,2.568723,3679.909523
25,Bermuda,2003,13.7,NaN,NaN,25.925760,NaN,NaN,NaN,22.2,100.000000,41.507179,NaN,2738161.0,42.879466,0.654327,66111.725227
26,Bolivia,2003,6.2,NaN,NaN,12.611226,NaN,NaN,NaN,37.9,94.000000,26.820764,NaN,1494564.0,39.314323,2.536818,917.364310
27,Brazil,2003,13.7,NaN,NaN,4.383717,NaN,NaN,NaN,28.5,99.504184,11.843973,NaN,17766646.0,38.657409,1.679389,3059.586507
28,Barbados,2003,16.3,NaN,NaN,48.984045,NaN,NaN,NaN,24.7,100.000000,7.990997,NaN,2738161.0,18.760302,-0.304569,12028.480339
29,Brunei Darussalam,2003,6.2,NaN,NaN,22.419408,NaN,NaN,NaN,33.9,100.000000,17.989648,NaN,357995.0,18.760302,2.381931,18555.566485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3666,Latin America & the Caribbean (IDA & IBRD coun...,2016,NaN,87.502792,0.745,7.160165,0.94500,NaN,16.719224,NaN,99.501363,22.530848,NaN,457892.0,37.308325,1.414185,8287.516175
3667,Timor-Leste,2016,NaN,100.000000,0.800,27.120036,1.10000,NaN,20.017903,NaN,91.665466,31.660242,NaN,7265449.0,37.308325,3.420409,1987.118804
3668,Middle East & North Africa (IDA & IBRD countries),2016,NaN,100.000000,0.620,14.589650,0.73000,NaN,54.731781,NaN,99.709746,23.920854,NaN,14792181.0,21.575690,2.254401,3915.342890
3669,Tonga,2016,NaN,99.806417,0.690,37.792102,0.73500,NaN,10.951424,NaN,98.630000,27.251470,NaN,457892.0,22.705220,0.483560,3744.492261
3670,South Asia (IDA & IBRD),2016,NaN,99.604429,0.700,10.382665,0.91000,NaN,82.082563,NaN,98.128236,11.159181,NaN,14792181.0,15.242190,2.542390,1652.607405
3671,Sub-Saharan Africa (IDA & IBRD countries),2016,NaN,100.000000,0.855,9.920220,0.95000,NaN,44.230413,NaN,75.696605,26.441002,NaN,7265449.0,15.214812,4.110149,1495.882001
3672,Trinidad and Tobago,2016,NaN,100.000000,0.300,17.343976,0.54000,NaN,24.230481,NaN,100.000000,74.960445,NaN,544844.0,21.593441,0.227957,16334.217143
3673,Tunisia,2016,NaN,100.000000,0.620,14.972085,0.73000,NaN,38.450491,NaN,100.000000,28.462364,NaN,2218261.0,19.452887,1.568123,3666.357154
3674,Turkey,2016,NaN,100.000000,1.230,6.986857,1.42000,NaN,44.482758,NaN,100.000000,24.313997,NaN,14332066.0,36.947196,2.280992,10862.726426
3675,Tuvalu,2016,NaN,56.654037,1.490,41.670749,0.45000,NaN,50.127626,NaN,100.000000,28.696992,NaN,457892.0,16.244503,2.390912,3295.720635
3676,Tanzania,2016,NaN,100.000000,0.800,11.730743,0.87000,NaN,28.443570,NaN,65.300000,30.104218,NaN,5409174.0,11.334815,5.331798,922.623927
3677,Uganda,2016,NaN,100.000000,0.790,16.296929,0.94000,NaN,51.944107,NaN,57.500000,28.837861,NaN,2706790.0,6.524278,5.815401,581.702773
3678,Ukraine,2016,NaN,100.000000,0.730,26.144010,0.83000,NaN,20.618187,NaN,100.000000,9.367570,NaN,2915423.0,11.923578,-0.196808,2187.731997
3679,Upper middle income,2016,NaN,96.517858,0.740,7.782731,0.90500,NaN,39.162502,NaN,99.762357,11.643408,NaN,14792181.0,28.208477,2.113204,7870.599026
3680,Uruguay,2016,NaN,22.395243,1.360,14.219010,1.50000,NaN,9.197441,NaN,100.000000,52.407084,NaN,1717257.0,49.862195,0.466362,15298.350892
3681,United States,2016,NaN,3.334436,0.650,6.782045,0.71000,NaN,7.406464,NaN,100.000000,7.072450,NaN,18704696.0,45.713314,0.956993,57904.204329
3682,Uzbekistan,2016,NaN,100.000000,1.280,25.253303,1.03000,NaN,27.814347,NaN,100.000000,14.922192,NaN,2407093.0,7.558090,1.541607,2117.744430
3683,St. Vincent and the Grenadines,2016,NaN,100.000000,1.200,49.781632,0.94000,NaN,22.076552,NaN,97.285950,44.023387,NaN,457892.0,8.513657,0.970483,7029.743842
3684,"Venezuela, RB",2016,NaN,99.933079,0.170,7.507616,0.00008,NaN,16.767994,NaN,100.000000,10.508972,NaN,2924866.0,28.921510,1.329534,NaN
3685,British Virgin Islands,2016,NaN,97.594419,0.880,20.390232,1.36000,NaN,17.886778,NaN,100.000000,44.023387,NaN,457892.0,14.258216,2.596452,NaN
3686,Virgin Islands (U.S.),2016,NaN,40.000000,1.200,22.397876,1.54000,NaN,10.264843,NaN,100.000000,27.251470,NaN,3817241.0,12.083796,-0.048697,NaN
3687,Vietnam,2016,NaN,100.000000,0.590,14.565743,0.80000,NaN,30.241312,NaN,100.000000,23.302380,NaN,7604915.0,15.697003,3.112603,2170.648054
3688,Vanuatu,2016,NaN,100.000000,1.200,52.437038,1.31000,NaN,11.590909,NaN,91.400000,27.251470,NaN,457892.0,22.879371,2.570836,2913.967232
3689,World,2016,NaN,91.322258,0.820,12.830111,0.97000,NaN,45.105292,NaN,96.900960,16.053715,NaN,3817241.0,23.490296,2.030635,10229.452837
3690,Samoa,2016,NaN,100.000000,0.870,38.070074,0.91000,NaN,11.366298,NaN,99.741692,44.023387,NaN,3817241.0,46.729898,-0.538996,4031.467040
3691,Kosovo,2016,NaN,40.724385,1.060,26.818741,1.11000,NaN,19.283013,NaN,100.000000,31.660242,NaN,7265449.0,17.835958,1.410062,3697.121677
3692,"Yemen, Rep.",2016,NaN,100.000000,0.760,5.278918,0.92000,NaN,50.127626,NaN,97.339859,26.490973,NaN,2586355.0,9.376215,4.210108,1320.924127
3693,South Africa,2016,NaN,100.000000,0.900,9.906993,0.92000,NaN,25.140416,NaN,92.852234,14.061226,NaN,5146559.0,34.585749,2.089585,5279.730472
3694,Zambia,2016,NaN,100.000000,1.160,10.872915,1.40000,NaN,27.355674,NaN,62.015373,32.581642,NaN,2294091.0,13.826997,4.261945,1262.989682
3695,Zimbabwe,2016,NaN,100.000000,1.180,8.080966,1.34000,NaN,21.726947,NaN,85.500160,28.850188,NaN,1504803.0,9.317457,2.060865,1272.335450

In [356]:
test=dfAll.corr()['GDP per capita (current US$)']

In [357]:
final=final.append(test)

In [364]:
final.sort_values().tail(100)

Population ages 50-54, male (% of male population)                                                                               0.427411
Domestic credit to private sector (% of GDP)                                                                                     0.429040
Domestic credit to private sector (% of GDP)                                                                                     0.429040
School enrollment, secondary (% net)                                                                                             0.431659
People using at least basic drinking water services (% of population)                                                            0.432389
People using at least basic drinking water services (% of population)                                                            0.432389
School enrollment, secondary (% gross)                                                                                           0.438913
Domestic general government health expenditure (% of current health expenditure)                                                 0.441350
Population ages 70-74, male (% of male population)                                                                               0.442467
Population ages 60-64, male (% of male population)                                                                               0.443733
Population ages 80 and above, female (% of female population)                                                                    0.447013
School enrollment, secondary, male (% gross)                                                                                     0.448357
School enrollment, secondary, male (% gross)                                                                                     0.448357
Domestic credit to private sector by banks (% of GDP)                                                                            0.448822
Domestic credit provided by financial sector (% of GDP)                                                                          0.449531
Survival to age 65, male (% of cohort)                                                                                           0.450123
Survival to age 65, male (% of cohort)                                                                                           0.450123
Logistics performance index: Ease of arranging competitively priced shipments (1=low to 5=high)                                  0.453708
Logistics performance index: Ease of arranging competitively priced shipments (1=low to 5=high)                                  0.453708
Burden of customs procedure, WEF (1=extremely inefficient to 7=extremely efficient)                                              0.456032
Quality of port infrastructure, WEF (1=extremely underdeveloped to 7=well developed and efficient by international standards)    0.456468
Population ages 65 and above, female (% of total)                                                                                0.458559
Population ages 80 and above, male (% of male population)                                                                        0.461850
Population ages 45-49, male (% of male population)                                                                               0.466719
Employment in services, female (% of female employment) (modeled ILO estimate)                                                   0.472215
Employment in services, female (% of female employment) (modeled ILO estimate)                                                   0.472215
Distance to frontier score (0=lowest performance to 100=frontier)                                                                0.472730
Population ages 65 and above (% of total)                                                                                        0.477117
People using at least basic sanitation services (% of population)                                                                0.478611
People using at least basic sanitation services (% of population)                                                                0.478611
                                                                                                                                   ...
GDP per person employed (constant 2011 PPP $)                                                                                    0.628491
Out-of-pocket expenditure per capita (current US$)                                                                               0.631034
International migrant stock (% of population)                                                                                    0.633193
International migrant stock (% of population)                                                                                    0.633193
Domestic general government health expenditure per capita, PPP (current international $)                                         0.671869
Individuals using the Internet (% of population)                                                                                 0.683948
Current health expenditure per capita, PPP (current international $)                                                             0.685721
Current health expenditure per capita (current US$)                                                                              0.715563
Domestic general government health expenditure per capita (current US$)                                                          0.730653
Fixed broadband subscriptions (per 100 people)                                                                                   0.740730
Fixed telephone subscriptions (per 100 people)                                                                                   0.744914
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
GDP per capita (current US$)                                                                                                     1.000000
Length: 100, dtype: float64

In [363]:
final

TypeError: bad operand type for unary ~: 'str'